#products-container {
    .slider {
        background-image: url(../img/projects/slider.jpg);
        width: 1400px;
        height: 450px;
        background-size: cover; 
    }
    .top-content {
        height: 520px;
        background: #fff;
    }
    .inner_content {
        background: none;
        span {
            color: #797979;
        }
        .products-content {

        }
    }
    
}