#products-container {
    .slider {
        background-image: url(../img/projects/slider.jpg);
        width: 1400px;
        height: 450px;
        background-size: cover; 
    }
    .top-content {
        height: auto;
        background: #fff;
        padding: 0px 150px;
        .breadcrumb {
            padding: 20px 0px;
            margin-bottom: 0px;
        }
    }
    .inner_content {
        background: #fff;
        padding-top: 10px;
        span {
            color: #797979;
        }
        .products-content {
            padding-right: 150px;
            padding-left: 150px;
            .title {
                padding-bottom: 50px;
                >div {
                    padding: 10px;
                    background: #e2e2e2;
                    width: 100%;
                }
            }
            .content-right {
                position: relative;
                // float: right;
                float: left;
                width: 808px;
                margin-bottom: 50px;
                padding-left: 45px;
                // border-width: 165px 45px 0 0;
                &:hover {
                    cursor: pointer;
                    .triangle-left {
                    width: 500px;
                    }
                    img {
                        filter: brightness(110%);
                    }
                }
                .item-title {
                    position: absolute;
                    top: 25px;
                    font-size: 30px;
                    padding-left: 50px;
                    padding-top: 0px;
                    color: white;
                    text-shadow: 1px 1px 10px #000000;
                    z-index: 3;
                    max-width: 500px;
                }
                .triangle-left {
                z-index: 2;
                transition: width .1s;
                -webkit-transition: width .1s;
                width: 545px;
                position: absolute;
                // border-style: solid;
                -webkit-transform: skew(-35deg);
                -moz-transform: skew(-35deg);
                -o-transform: skew(-35deg);
                // border-width: 120px 0 0 0;
                // background-image: url('../img/products/Infrared_Inspection_Window.jpg');
                // background-size: cover; 
                }
                img {
                    // &:before{
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background: rgba(255,255,255,0.5);
                    //     content: '';
                    //     z-index: 10;
                    //     -webkit-transition: -webkit-transform 0.6s;
                    //     transition: transform 0.6s;
                    //     -webkit-transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
                    //     transform: scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
                    // }
                    float: right;
                    height: 135px;
                    z-index: 1;
                }
            }
            .content-left {
                position: relative;
                float: left;
                width: 808px;
                margin-bottom: 50px;
                padding-right: 45px;
                &:hover {
                    cursor: pointer;
                    .triangle-right {
                    width: 500px;
                    }
                    img {
                        filter: brightness(110%);
                    }
                }
                .item-title {
                    position: absolute;
                    top: 25px;
                    font-size: 30px;
                    padding-left: 50px;
                    padding-top: 0px;
                    color: white;
                    text-shadow: 1px 1px 10px #000000;
                    z-index: 3;
                    max-width: 500px;
                }
                .triangle-right {
                    z-index: 2;
                    transition: width .1s;
                    -webkit-transition: width .1s;
                    right: 0;
                    width: 545px;
                    position: absolute;
                    // border-style: solid;
                    -webkit-transform: skew(35deg);
                    -moz-transform: skew(35deg);
                    -o-transform: skew(35deg);
                    // border-width: 120px 0 0 0;
                }
                img {
                    float: left;
                    height: 135px;
                    z-index: 1;
                }
            }
            .item-blue {
                &:hover {
                    .triangle {background-image: linear-gradient(180deg, rgb(86, 142, 212) 10%, rgb(0, 46, 97) 50%, rgb(87, 144, 214) 130%);}
                }
                // box-shadow: 0px 0px 0px 2px #204a90;
                > .triangle {
                    background-image: linear-gradient(180deg, rgb(86, 132, 212) 10%, rgb(0, 36, 97) 50%, rgb(87, 134, 214) 130%);
                    height: 120px;
                }
                >img {
                    border-top: 1px solid #204a90;
                }
            }
            .item-orange {
                &:hover {
                    .triangle {background-image: linear-gradient(180deg, rgb(255, 219, 58) 10%, rgb(193, 132, 0) 50%, rgb(255, 229, 59) 130%);}
                }
                // box-shadow: 0px 0px 0px 2px rgba(255, 165, 0, 1);
                > .triangle {
                    background-image: linear-gradient(180deg, rgb(255, 209, 58) 10%, rgb(193, 122, 0) 50%, rgb(255, 219, 59) 130%);
                    height: 120px;
                }
                >img {
                    border-top: 1px solid rgba(255, 165, 0, 1);
                }
            }
            .item-green {
                &:hover {
                    .triangle {background-image: linear-gradient(180deg, rgb(69, 216, 136) 10%, rgb(0, 119, 3) 50%, rgb(58, 238, 150) 130%)}
                }
                // box-shadow: 0px 0px 0px 2px rgba(0, 128, 0, 1);
                > .triangle {
                    background-image: linear-gradient(180deg, rgb(69, 206, 136) 10%, rgb(0, 109, 3) 50%, rgb(58, 228, 150) 130%);
                    height: 120px;
                }
                img {
                    border-top: 1px solid rgba(0, 128, 0, 1);
                }
            }
            .product-details {
                padding-bottom: 50px;
                .inside {
                    .field-items-left {
                        .main-item {
                            display: inline-flex;
                            img {
                                // width: 250px;
                                height: 142px;
                            }
                            .field-content {
                                word-break: break-word;
                                padding-left: 10px;
                                text-align: justify;
                            }
                        }
                    }
                    .field-items-right {
                        border-left: 2px dashed #5b9bd5;
                        .main-item {
                            display: inline-flex;
                            img {
                                // width: 160px;
                                height: 111px;
                            }
                            .field-content {
                                word-break: break-word;
                                padding-left: 10px;
                                text-align: justify;
                            }
                        }
                    }
                    .item-list {
                        padding-top: 50px;
                        .item-type{
                            background: #EBEBEB;
                            margin-bottom: 50px;
                            padding: 3px;
                            text-align: center;
                            h4 {
                                margin: 0px;
                            }
                        }
                        .item_index {
                            padding-bottom: 30px;
                        }
                        a {
                            text-decoration: none;
                            color: inherit;
                            background: transparent;
                            .range-thumb {
                                &:hover {
                                    cursor: pointer;
                                    h5 {
                                        color: #204a90;
                                    }
                                    .range-thumb__link {
                                        text-decoration: underline;
                                        color: #42b4e6;
                                    }
                                }
                                // box-shadow: 0px 0px 1px rgb(102, 102, 102);
                                .range-thumb__img-wrapper {
                                    height: 150px;
                                    img {
                                        height: 100%;
                                    }
                                }
                                .range-thumb__info{
                                    .range-thumb__info-wrapper {
                                        h5 {
                                            font-weight: 700;
                                            line-height: 25px;
                                        }
                                        p {
                                            word-wrap: break-word;
                                            overflow: hidden;
                                            max-height: 8.6em;
                                            line-height: 1.8em;
                                            font-size: 13px;
                                        }
                                    }
                                    .range-thumb__link {
                                        color: #42b4e6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }




    
}