a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: 700;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: 400;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  overflow: hidden;
}
@font-face {
  font-family: 'Univers_CE_Medium';
  src: url(../fonts/Univers_CE_55_Medium.eot);
  src: url(../fonts/Univers_CE_55_Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Univers_CE_55_Medium.woff) format("woff"), url(../fonts/Univers_CE_55_Medium.ttf) format("truetype"), url(../fonts/Univers_CE_55_Medium.svg#Univers_CE_55_Medium) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Univers_LT_55_Roman';
  src: url(../fonts/Univers_LT_55_Roman.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Univers_LT_57_Condensed';
  src: url(../fonts/Univers_LT_57_Condensed.eot);
  src: url(../fonts/Univers_LT_57_Condensed.eot?#iefix) format("embedded-opentype"), url(../fonts/Univers_LT_57_Condensed.woff) format("woff"), url(../fonts/Univers_LT_57_Condensed.ttf) format("truetype"), url(../fonts/Univers_LT_57_Condensed.svg#Univers_LT_57_Condensed) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url(../fonts/Gotham-Bold.eot);
  src: url(../fonts/Gotham-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.ttf) format("truetype"), url(../fonts/Gotham-Bold.svg#Gotham-Bold) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url(../fonts/Gotham-Book.eot);
  src: url(../fonts/Gotham-Book.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Book.woff) format("woff"), url(../fonts/Gotham-Book.ttf) format("truetype"), url(../fonts/Gotham-Book.svg#Gotham-Book) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book-Italic';
  src: url(../fonts/Gotham-Book-Italic.eot);
  src: url(../fonts/Gotham-Book-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Book-Italic.woff) format("woff"), url(../fonts/Gotham-Book-Italic.ttf) format("truetype"), url(../fonts/Gotham-Book-Italic.svg#Gotham-Book-Italic) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Light';
  src: url(../fonts/Gotham-Light.eot);
  src: url(../fonts/Gotham-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Light.woff) format("woff"), url(../fonts/Gotham-Light.ttf) format("truetype"), url(../fonts/Gotham-Light.svg#Gotham-Light) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url(../fonts/Gotham-Medium.eot);
  src: url(../fonts/Gotham-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-Medium.woff) format("woff"), url(../fonts/Gotham-Medium.ttf) format("truetype"), url(../fonts/Gotham-Medium.svg#Gotham-Medium) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-XLight';
  src: url(../fonts/Gotham-XLight.eot);
  src: url(../fonts/Gotham-XLight.eot?#iefix) format("embedded-opentype"), url(../fonts/Gotham-XLight.woff) format("woff"), url(../fonts/Gotham-XLight.ttf) format("truetype"), url(../fonts/Gotham-XLight.svg#Gotham-XLight) format("svg");
  font-weight: 400;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-size: 15px;
  color: #000;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*------------------------------------------------------------------
    [Overflow]
------------------------------------------------------------------*/
.overflow-h {
  overflow: hidden;
}
/*--------------------------------------------------
      [Font Weight]
  ----------------------------------------------------*/
.fweight-300 {
  font-weight: 300 !important;
}
.fweight-400 {
  font-weight: 400 !important;
}
.fweight-500 {
  font-weight: 500 !important;
}
.fweight-600 {
  font-weight: 600 !important;
}
.fweight-700 {
  font-weight: 700 !important;
}
/*------------------------------------------------------------------
      [Left margin]
  ------------------------------------------------------------------*/
.margin-l-0 {
  margin-left: 0 !important;
}
.margin-l-5 {
  margin-left: 5px !important;
}
.margin-l-10 {
  margin-left: 10px !important;
}
.margin-l-20 {
  margin-left: 20px !important;
}
/*------------------------------------------------------------------
      [Right margin]
  ------------------------------------------------------------------*/
.margin-r-0 {
  margin-right: 0 !important;
}
.margin-r-5 {
  margin-right: 5px !important;
}
.margin-r-10 {
  margin-right: 10px !important;
}
.margin-r-20 {
  margin-right: 20px !important;
}
/*------------------------------------------------------------------
      [Bottom margin]
  ------------------------------------------------------------------*/
.margin-b-0 {
  margin-bottom: 0 !important;
}
.margin-b-2 {
  margin-bottom: 2px !important;
}
.margin-b-5 {
  margin-bottom: 5px !important;
}
.margin-b-10 {
  margin-bottom: 10px !important;
}
.margin-b-20 {
  margin-bottom: 20px !important;
}
.margin-b-30 {
  margin-bottom: 30px !important;
}
.margin-b-40 {
  margin-bottom: 40px !important;
}
.margin-b-50 {
  margin-bottom: 50px !important;
}
.margin-b-60 {
  margin-bottom: 60px !important;
}
.margin-b-70 {
  margin-bottom: 70px !important;
}
.margin-b-80 {
  margin-bottom: 80px !important;
}
.margin-b-90 {
  margin-bottom: 90px !important;
}
.margin-b-100 {
  margin-bottom: 100px !important;
}
.btn {
  background: url(../images/btn.png) repeat-x;
  height: 34px;
  display: inline-block;
  color: #fff;
  font-family: 'Univers_LT_55_Roman', Georgia, Meiryo, serif;
  padding: 0 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-position: 0 -41px;
}
a.btn {
  line-height: 30px;
}
.line_hor {
  background-color: #ccc;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  display: block;
  width: 100%;
}
.line_hor .line {
  background-color: #0060fc;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  padding-top: 0;
}
#container {
  background: #fff;
  color: #000000;
}
#header {
  width: 100%;
  position: relative;
  z-index: 99;
  position: fixed;
  top: 0;
  height: 155px;
  /* border-top: 9px solid #0060fc; */
  background: #ffffff;
}
#header .outer {
  border-bottom: 3px solid #204a90;
}
#header .list-language {
  float: right;
}
#header .list-language li {
  list-style: none;
  float: left;
  padding: 5px 0px;
  font-size: 13px;
}
#header .list-language li + li:before {
  content: "|";
  display: inline-block;
  margin: 0px 10px;
  color: #333;
}
#header .list-language li .flags {
  width: 22px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: sub;
}
#header .list-language li .flag-en {
  background-image: url('../img/us.png');
}
#header .list-language li .flag-vn {
  background-image: url('../img/vn.png');
}
#header .list-language li:hover a,
#header .list-language li:active a,
#header .list-language li.active a {
  color: #7e7e7e;
}
#header .list-language li:hover .flag-en,
#header .list-language li:active .flag-en,
#header .list-language li.active .flag-en {
  background-position: 0px 0px;
}
#header .list-language li:hover .flag-ja,
#header .list-language li:active .flag-ja,
#header .list-language li.active .flag-ja {
  background-position: -18px 0px;
}
#header.slim .brd_bottom {
  display: none;
  position: absolute;
  width: 100%;
  bottom: -9px;
  left: 0;
}
#header .inner {
  margin: 0 auto;
  width: 1400px;
  *zoom: 1;
}
#header .inner:before,
#header .inner:after {
  display: table;
  content: "";
  line-height: 0;
}
#header .inner:after {
  clear: both;
}
#header h1 {
  float: left;
  width: 160px;
  height: 75px;
  margin: 20px 0 0 25px;
}
#header h1 a {
  display: block;
  text-indent: -10000px;
  position: relative;
  background: url(../images/sprite.png) 0 0;
  width: 160px;
  height: 75px;
}
#nav {
  float: right;
}
#nav ul {
  list-style: none;
}
#nav ul.main_nav {
  *zoom: 1;
}
#nav ul.main_nav:before,
#nav ul.main_nav:after {
  display: table;
  content: "";
  line-height: 0;
}
#nav ul.main_nav:after {
  clear: both;
}
#nav ul li {
  float: left;
  min-width: 180px;
  border-right: 1px solid #ededed;
  position: relative;
}
#nav ul li.first {
  border-left: 1px solid #ededed;
}
#nav ul li a {
  display: block;
  text-transform: uppercase;
  font-family: Hind, sans-serif;
  font-size: 13px;
  line-height: 118px;
  color: #515769;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}
#nav ul li a:hover {
  background: #204a90;
  color: #ffffff;
  text-decoration: none;
}
#nav li.selected a {
  color: #fff;
  background: #204a90;
  text-decoration: none;
}
#nav ul li:hover {
  background: #204a90;
  border: none;
}
#nav ul li:hover a {
  color: #ffffff;
}
#nav ul li a.active {
  background: #0060fc;
  color: #ffffff;
}
#nav ul.sub_nav {
  border: none;
  position: absolute;
  top: 118px;
  left: 0;
  z-index: 11;
  border-top: 1px solid #fff;
  display: none;
}
#nav ul.sub_nav li {
  float: none;
  border-top: 1px solid #fff;
  border-right: none;
}
#nav ul.sub_nav li:first-child {
  border-top: none;
}
#nav ul.sub_nav li a {
  background: #457bbd;
  color: #fff;
  text-align: left;
  font-size: 12px;
  line-height: 18px!important;
  padding: 14px 25px;
  text-transform: capitalize;
}
#nav ul.sub_nav li a:hover,
#nav ul.sub_nav li a.active {
  background: #204a90;
  text-decoration: none;
}
#header.slim {
  height: 118px !important;
}
#header.slim .brd_bottom {
  display: block;
  background: url(../img/bg_header.png) repeat-x;
  height: 9px;
}
.slim #nav ul li a {
  line-height: 77px;
}
.slim .icon {
  width: 37px!important;
  margin-top: 15px !important;
}
#header.slim h1 {
  margin-top: 10px;
}
#header.slim h1 a {
  background-position: 0 -468px;
  height: 55px;
}
#header.slim #nav ul.sub_nav {
  top: 77px;
}
.slim nav span {
  display: none;
}
.slim .logo img {
  width: 72px;
  height: 25px;
}
#header .logo {
  float: left;
  height: 68px;
  padding-left: 0px;
  width: 135px;
}
#header .logo a {
  background: rgba(0, 0, 0, 0) url("../img/logo.jpg") no-repeat scroll 0 0;
  display: block;
  height: 59px;
  position: relative;
  text-indent: -10000px;
  width: 90px;
}
#header.slim .logo {
  margin-top: 10px;
}
#header.slim .logo a {
  /* background-position: 0 -468px;
    height: 55px; */
  background-size: 90px 58px;
}
a {
  text-decoration: none;
}
.main-content {
  z-index: 9;
  position: relative;
  background: #ededed;
  margin-top: 119px;
}
.main-content .top-content {
  height: 650px;
  position: relative;
  margin: 0 auto;
  width: 1400px;
  overflow: hidden;
}
.main-content .top-content .img-centered {
  position: absolute;
  top: 65%;
  left: 100px;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  background: rgba(0, 0, 0, 0.4);
  width: auto;
  padding: 10px;
}
.main-content .top-content .img-centered > div {
  position: relative;
  max-width: 500px;
  -webkit-transition: all 2s;
  -khtml-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.main-content .top-content .img-centered h3 {
  font-size: 22px;
  position: relative;
  color: #fff;
  text-align: left;
  font-weight: 400;
  line-height: 1.2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}
.main-content .top-content .img-centered a {
  position: relative;
  float: left;
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #ededed;
  background: #02377c;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}
.main-content .top-content .img-centered a:hover {
  text-decoration: none;
  background: #016fff;
  color: #fff;
}
.main-content .top-content .img-centered .img-title {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
}
.main-content .top-content .img-centered .img-title .btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 30px;
}
.main-content .top-content .img-centered .img-title .btn-white-brd {
  color: #fff;
  background: 0 0;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
}
.main-content .top-content .img-centered .img-title .btn-theme {
  position: relative;
  display: inline-block;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-content .inner_content {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  overflow: hidden;
  background: white;
  /* Content Wrapper Link */
}
.main-content .inner_content .content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1400px;
}
.main-content .inner_content .content-lg a:focus,
.main-content .inner_content .content-lg a:hover,
.main-content .inner_content .content-lg a:active {
  outline: 0;
  color: #999caa;
  text-decoration: none;
}
.main-content .inner_content .slogan-container {
  padding-top: 50px;
}
.main-content .inner_content .slogan-container .slogan-content {
  background: #204a90;
  padding: 5px 50px;
}
.main-content .inner_content .slogan-container .slogan-content h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.main-content .inner_content .slogan-container .slogan-content * {
  color: #e2e2e2;
}
.main-content .inner_content h2 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}
.main-content .inner_content h3 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}
.main-content .inner_content h4 {
  font-weight: 700;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1.4;
  margin: 0 0 15px;
}
.main-content .inner_content h4 a {
  color: #515769;
}
.main-content .inner_content span {
  font-size: 14px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #bfc1c7;
}
.main-content .inner_content .link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  text-transform: uppercase;
}
.main-content .inner_content .link:after {
  position: absolute;
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background: #17bed2;
  content: " ";
}
.main-content .inner_content .service-content {
  width: 1170px;
  margin: 0 auto;
}
.main-content .inner_content .service-content .sm-margin-b-2 {
  padding-left: 1px;
  padding-right: 1px;
}
.main-content .inner_content .service-content .service {
  background: #ededed;
  padding: 50px;
  height: 252px;
}
.main-content .inner_content .service-content .service .service-element,
.main-content .inner_content .service-content .service .service-info {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.main-content .inner_content .service-content .service .service-element img {
  width: 60px;
}
.main-content .inner_content .service-content .service .service-icon {
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}
.main-content .inner_content .service-content .service:hover .service-element {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.main-content .inner_content .service-content .service:hover .service-info {
  -webkit-transform: translate3d(0, -30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.main-content .inner_content .products .products-content {
  width: 1170px;
  margin: 0 auto;
}
.main-content .inner_content .products .products-content .img-products {
  max-height: 255px;
  max-width: 300px;
}
.main-content .inner_content .products .products-content .item {
  min-height: 255px;
}
.main-content .inner_content .content-wrapper-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  text-decoration: none;
}
.main-content .partner-content {
  width: 1170px;
  margin: 0 auto;
}
.main-content .partner-content .slider-center {
  padding-top: 50px;
  padding-bottom: 100px;
}
.main-content .partner-content .slick-slider .logo-partner img {
  width: 180px;
}
.main-content .partner-content .slick-slider .slick-slide {
  width: auto !important;
  height: auto !important;
  padding-right: 100px;
}
.anim-slider {
  background-color: #fff;
}
.anim-slide {
  opacity: 0;
}
.anim-slide-this {
  opacity: 1;
}
.anim-dots span.anim-dots-this {
  background: #457bbd;
}
li.anim-slide:nth-of-type(1) {
  background: rgba(0, 0, 0, 0) url("../img/Slider/DSC02919.JPG") 100% / cover;
}
li.anim-slide:nth-of-type(2) {
  background: rgba(0, 0, 0, 0) url("../img/Slider/DSC_1184.JPG") 100% / cover;
}
li.anim-slide:nth-of-type(3) {
  background: rgba(0, 0, 0, 0) url("../img/Slider/IMG_0432.JPG") 100% / cover;
}
.main-content .breadcrumb {
  padding: 20px 20px;
  background-color: #fff;
}
#footer .outer_footer {
  background: #ededed;
}
#footer .outer_footer .inner_footer {
  min-height: 400px;
  background: #204a90;
  width: 1400px;
  margin: 0 auto;
  padding-top: 30px;
}
#footer .outer_footer .inner_footer .footer-content {
  width: 1170px;
  margin: 0 auto;
  min-height: 330px;
}
#footer .outer_footer .inner_footer .footer-content h5 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid rgba(40, 153, 198, 0.3);
}
#footer .outer_footer .inner_footer .footer-content .content {
  line-height: 2;
  margin-bottom: 25px;
}
#footer .outer_footer .inner_footer .footer-content .content a {
  color: #7a9dbb;
}
#footer .outer_footer .inner_footer .footer-content .content a:hover {
  text-decoration: none;
  color: #fff;
}
#footer .outer_footer .inner_footer .footer-content .content span {
  color: #7a9dbb;
}
#footer .outer_footer .inner_footer .footer-content .content span a {
  text-decoration: underline;
}
#footer .outer_footer .inner_footer .footer-content .content .social_lst li {
  display: inline-block;
}
#footer .outer_footer .inner_footer .footer-content .content .social_lst li i {
  font-size: 44px;
  color: white;
}
#footer .outer_footer .inner_footer .footer-bottom {
  color: #e2e2e2;
  border-top: 1px solid rgba(40, 153, 198, 0.3);
  padding-top: 5px;
}
#footer .outer_footer .inner_footer .footer-bottom .container {
  padding-left: 0px;
}
#projects-container .slider {
  background-image: url(../img/projects/slider.jpg);
  width: 1400px;
  height: 450px;
  background-size: cover;
}
#projects-container .top-content {
  height: 520px;
  background: #fff;
}
#projects-container .inner_content {
  background: none;
}
#projects-container .inner_content span {
  color: #797979;
}
#projects-container a .list-group-item:hover {
  outline: 0;
  color: white;
  text-decoration: none;
  background: #b4b4b4;
  border-color: #fff;
}
#projects-container a:active {
  outline: 0;
  color: #fff;
  text-decoration: none;
}
#projects-container a:active:hover {
  background: #337ab7;
}
#projects-container .project-content {
  min-height: 700px;
  padding-bottom: 100px;
  background: #fff;
  margin: 0 auto;
}
#projects-container .project-content h2 {
  padding-left: 40px;
}
#projects-container .project-content .tab-list-container .list-group-item-title {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #204a90;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#projects-container .project-content .tab-list-container .list-group {
  padding-bottom: 50px;
  background: #fff;
}
#projects-container .project-content .tab-list-container .list-group .list-group-item {
  border: none;
  padding-left: 40px;
}
#projects-container .project-content .tab-list-container .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#projects-container .project-content .tab-list-container .list-group .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#projects-container .project-content .tab-content-container {
  padding-left: 18px;
  border-left: 1px solid #204a90;
  min-height: 600px;
}
#projects-container .project-content .tab-content-container .list-items {
  display: -webkit-box;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #d8d8d8;
}
#projects-container .project-content .tab-content-container .list-items:last-child {
  border: none;
}
#projects-container .project-content .tab-content-container .list-items .hovereffect {
  width: 280px;
  margin-right: 20px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
#projects-container .project-content .tab-content-container .list-items .hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
#projects-container .project-content .tab-content-container .list-items .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
#projects-container .project-content .tab-content-container .list-items .hovereffect:hover .overlay .info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}
#projects-container .project-content .tab-content-container .list-items .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#projects-container .project-content .tab-content-container .list-items .hovereffect .overlay .info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
  font-size: 12px;
}
#projects-container .project-content .tab-content-container .list-items .hovereffect .overlay .info:hover {
  box-shadow: 0 0 5px #fff;
}
#projects-container .project-content .tab-content-container .list-items .hovereffect img {
  width: 280px;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}
#projects-container .project-content .tab-content-container .list-items .item-content {
  max-width: 700px;
}
#projects-container .project-content .tab-content-container .list-items .item-content a:hover {
  text-decoration: none;
}
#projects-container .project-content .tab-content-container .list-items .item-content a:hover h3 {
  color: #204a90;
}
#products-container .slider {
  background-image: url(../img/projects/slider.jpg);
  width: 1400px;
  height: 450px;
  background-size: cover;
}
#products-container .top-content {
  height: auto;
  background: #fff;
  padding: 0px 150px;
}
#products-container .top-content .breadcrumb {
  padding: 20px 0px;
  margin-bottom: 0px;
}
#products-container .inner_content {
  background: #fff;
  padding-top: 10px;
}
#products-container .inner_content span {
  color: #797979;
}
#products-container .inner_content .products-content {
  padding-right: 150px;
  padding-left: 150px;
}
#products-container .inner_content .products-content .title {
  padding-bottom: 50px;
}
#products-container .inner_content .products-content .title > div {
  padding: 10px;
  background: #e2e2e2;
  width: 100%;
}
#products-container .inner_content .products-content .content-right {
  position: relative;
  float: left;
  width: 808px;
  margin-bottom: 50px;
  padding-left: 45px;
}
#products-container .inner_content .products-content .content-right:hover {
  cursor: pointer;
}
#products-container .inner_content .products-content .content-right:hover .triangle-left {
  width: 500px;
}
#products-container .inner_content .products-content .content-right:hover img {
  filter: brightness(110%);
}
#products-container .inner_content .products-content .content-right .item-title {
  position: absolute;
  top: 25px;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 0px;
  color: white;
  text-shadow: 1px 1px 10px #000000;
  z-index: 3;
  max-width: 500px;
}
#products-container .inner_content .products-content .content-right .triangle-left {
  z-index: 2;
  transition: width .1s;
  -webkit-transition: width .1s;
  width: 545px;
  position: absolute;
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -o-transform: skew(-35deg);
}
#products-container .inner_content .products-content .content-right img {
  float: right;
  height: 135px;
  z-index: 1;
}
#products-container .inner_content .products-content .content-left {
  position: relative;
  float: left;
  width: 808px;
  margin-bottom: 50px;
  padding-right: 45px;
}
#products-container .inner_content .products-content .content-left:hover {
  cursor: pointer;
}
#products-container .inner_content .products-content .content-left:hover .triangle-right {
  width: 500px;
}
#products-container .inner_content .products-content .content-left:hover img {
  filter: brightness(110%);
}
#products-container .inner_content .products-content .content-left .item-title {
  position: absolute;
  top: 25px;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 0px;
  color: white;
  text-shadow: 1px 1px 10px #000000;
  z-index: 3;
  max-width: 500px;
}
#products-container .inner_content .products-content .content-left .triangle-right {
  z-index: 2;
  transition: width .1s;
  -webkit-transition: width .1s;
  right: 0;
  width: 545px;
  position: absolute;
  -webkit-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -o-transform: skew(35deg);
}
#products-container .inner_content .products-content .content-left img {
  float: left;
  height: 135px;
  z-index: 1;
}
#products-container .inner_content .products-content .item-blue:hover .triangle {
  background-image: linear-gradient(180deg, #568ed4 10%, #002e61 50%, #5790d6 130%);
}
#products-container .inner_content .products-content .item-blue > .triangle {
  background-image: linear-gradient(180deg, #5684d4 10%, #002461 50%, #5786d6 130%);
  height: 120px;
}
#products-container .inner_content .products-content .item-blue > img {
  border-top: 1px solid #204a90;
}
#products-container .inner_content .products-content .item-orange:hover .triangle {
  background-image: linear-gradient(180deg, #ffdb3a 10%, #c18400 50%, #ffe53b 130%);
}
#products-container .inner_content .products-content .item-orange > .triangle {
  background-image: linear-gradient(180deg, #ffd13a 10%, #c17a00 50%, #ffdb3b 130%);
  height: 120px;
}
#products-container .inner_content .products-content .item-orange > img {
  border-top: 1px solid #ffa500;
}
#products-container .inner_content .products-content .item-green:hover .triangle {
  background-image: linear-gradient(180deg, #45d888 10%, #007703 50%, #3aee96 130%);
}
#products-container .inner_content .products-content .item-green > .triangle {
  background-image: linear-gradient(180deg, #45ce88 10%, #006d03 50%, #3ae496 130%);
  height: 120px;
}
#products-container .inner_content .products-content .item-green img {
  border-top: 1px solid #008000;
}
#products-container .inner_content .products-content .product-details {
  padding-bottom: 50px;
}
#products-container .inner_content .products-content .product-details .inside .field-items-left .main-item {
  display: inline-flex;
}
#products-container .inner_content .products-content .product-details .inside .field-items-left .main-item img {
  height: 142px;
}
#products-container .inner_content .products-content .product-details .inside .field-items-left .main-item .field-content {
  word-break: break-word;
  padding-left: 10px;
  text-align: justify;
}
#products-container .inner_content .products-content .product-details .inside .field-items-right {
  border-left: 2px dashed #5b9bd5;
}
#products-container .inner_content .products-content .product-details .inside .field-items-right .main-item {
  display: inline-flex;
}
#products-container .inner_content .products-content .product-details .inside .field-items-right .main-item img {
  height: 111px;
}
#products-container .inner_content .products-content .product-details .inside .field-items-right .main-item .field-content {
  word-break: break-word;
  padding-left: 10px;
  text-align: justify;
}
#products-container .inner_content .products-content .product-details .inside .item-list {
  padding-top: 50px;
}
#products-container .inner_content .products-content .product-details .inside .item-list .item-type {
  background: #EBEBEB;
  margin-bottom: 50px;
  padding: 3px;
  text-align: center;
}
#products-container .inner_content .products-content .product-details .inside .item-list .item-type h4 {
  margin: 0px;
}
#products-container .inner_content .products-content .product-details .inside .item-list .item_index {
  padding-bottom: 30px;
}
#products-container .inner_content .products-content .product-details .inside .item-list a {
  text-decoration: none;
  color: inherit;
  background: transparent;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb:hover {
  cursor: pointer;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb:hover h5 {
  color: #204a90;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb:hover .range-thumb__link {
  text-decoration: underline;
  color: #42b4e6;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb .range-thumb__img-wrapper {
  height: 150px;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb .range-thumb__img-wrapper img {
  height: 100%;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb .range-thumb__info .range-thumb__info-wrapper h5 {
  font-weight: 700;
  line-height: 25px;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb .range-thumb__info .range-thumb__info-wrapper p {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 8.6em;
  line-height: 1.8em;
  font-size: 13px;
}
#products-container .inner_content .products-content .product-details .inside .item-list a .range-thumb .range-thumb__info .range-thumb__link {
  color: #42b4e6;
}
